/* _________________________________________________ */
/* MÓVIL */
/* _________________________________________________ */

@media screen and (max-width: 460px) {
    .logo {
        display: none;
    }

    .logo_mv img {
        width: 87px;
    }

    .barras img {
        width: 55px;
        height: 45px;
        margin-top: 20px;
    }

    .barras {
        margin-right: 30px;
    }

    .head {
        display: flex;
        justify-content: space-between;
    }

    .lista1 {
        display: none;
    }

    .lista2 {
        display: none;
    }
    /* DHSNSFRNJSTMGDMSMGDMTMM */
    /* java */
    /* GDHRJHSRYSRYSJSTJS */
    .menu_13 {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .menu_12 {
        list-style: none;
        margin-right: 25px;
        font-family: "Roboto Light";
        font-size: 22px;
    }

    .menu_12 li {
        margin-top: 20px;
    }

    .menu_12 a {
        text-decoration: none;
        color: black;
    }

    .menu_12 a:hover {
        font-weight: 700;
    }

    #boton {
        width: 40px;
    }

    #navegacion {
        display: none;
    }

    #mavegacion ul li {
        list-style: none;
        width: 100%;
    }

    #navegacion a {
        width: 100%;
        display: block;
    }

    /* RGHEAHSRYHJSRJHSRHSRJHSRJSRJSRSRYJRYJ */

    h1 {
        font-family: "Roboto Light";
        font-size: 48px;
        position: absolute;
        font-weight: 600;
    }
    
    .presu {
        font-family: "Roboto Light";
        font-size: 36px;
        margin-top: 130px;
        width: 197px;
        text-align: center;
        font-weight: lighter;
    }

    .form {
        margin-right: 30px;
    }

    .menu_1 {
        display: flex;
        justify-content: center;
    }

    .menu {
        width: 255px;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    section {
        display: flex;
        flex-direction: column;
        align-items: center;  
        gap: 20px; 
    }

    footer {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    

    footer .first {
        display: flex;
        flex-direction: column;
        gap: 30px;
        text-align: center;
        margin-right: 30px;
        font-family: "Roboto Light";
    }

    footer .first a {
        text-decoration: none;
    }
    footer .first a:hover {
        text-decoration: underline;
    }

    footer .second {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 30px;
        margin-right: 30px;
        font-family: "Roboto Light";
    }

    footer .second a {
        text-decoration: none;
    }
    footer .second a:hover {
        text-decoration: underline;
    }

    footer .icons {
        display: flex;
        justify-content: center;
        margin-left: 40px;
    }

}

/* _____________________________________________________ */
/* PC*/
/* _____________________________________________________ */

@media screen and (min-width: 461px) and (max-width: 2000px) {
    .barras {
        display: none;
    }
    
    .menu_12 {
        display: none;
    }
    
    .logo_mv {
        display: none;
    }
    
    .logo img {
        width: 234px;
        height: 130px;
    }

    footer .first {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 1050px;
    }
    footer .first a {
        text-decoration: none;
    }
    footer .first a:hover {
        text-decoration: underline;
    }
    
    footer .second {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 1100px;
    }
    footer .second a {
        text-decoration: none;
    }
    footer .second a:hover {
        text-decoration: underline;
    }

    .icons {
        display: flex;
        justify-content: end;
        margin-right: 20px;
    }
    
}
 